backend/node_modules
backend/.env
backend/dist

frontend/node_modules
frontend/dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
